@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

body{
    background-color: black;
    background-position-x: center;
    background-image: url('../park_main.jpg');
    background-repeat : no-repeat;
    background-size : 500px;
}

#text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#mainHref{
    text-align: center;
    display: block;
    color : #F8FAFF;
    text-decoration : none;
    font-weight : bold;
    font-size: 4em;
    font-family: 'Fira Sans', sans-serif;
    text-shadow: 2px 2px 4px black;
}

#mainHref::after{
    position: absolute;
    width: 600px;
    top : 40%;
    left : 50%;
    transform: translate(-50%,-50%);
    font-family: 'Yellowtail';
    font-size : 6rem;
    font-weight: lighter;
    content : "fanpage";
    color : #77919d;
    max-width: 0;
    overflow: hidden;
    transition: all 0.5s;
}

#mainHref:hover::after{
    max-width: 100%;
}
