@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');

body{
    background-color: black;
    background-position: center center;
    background-attachment : fixed;
    background-image: url('../image/park_main.jpg');
    background-repeat : no-repeat;
    background-size : 500px;
}

#text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#mainHref{
    text-align: center;
    display: block;
    color : #F8FAFF;
    text-decoration : none;
    font-weight : bold;
    font-size: 4em;
    font-family: 'Noto Sans KR', sans-serif;
    text-shadow: 2px 2px 4px black;
}

@media all and (min-width:1024px) {
    /* For desktop */
    #mainHref{
        font-size:3.5em;
    }
    #mainHref::after{
        position: absolute;
        width: 600px;
        top : 40%;
        left : 50%;
        transform: translate(-50%,-50%);
        font-family: 'Pacifico', cursive;
        font-size : 5rem;
        font-weight: lighter;
        content : "Fansite";
        color : #8C8C5D;
        max-width: 0;
        overflow: hidden;
        transition: all 0.5s;
    }
    
    #mainHref:hover::after{
        max-width: 100%;
    }
}

@media all and (min-width:768px) and (max-width:1023px) {
    /* For tablet: */
    #mainHref{
        font-size:2em;
    }
    body{
        background-size : 350px;
    }
}

@media all and (max-width:767px) {
    /* For mobile: */
    #mainHref{
        font-size:1.5em;
    }
    body{
        background-size : 275px;
    }
}

@media all and (max-width:479px){
    /* For mobile: */
    #mainHref{
        font-size:1.1em;
    }
    body{
        background-size : 230px;
    }
}