@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400'); 
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean'); 

body{
    background-color: rgba(206, 207, 178, 0.2 );
}

#title {
    width : 100%;
    height : 130px;
}

#title .main{
    font-size: 2em;
    font-family: 'Black Han Sans', sans-serif;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%,-5%);
}
.toMain{
    color: #8C8C5D;
    text-decoration : none;
}
#title .name_eng{
    font-size: 3em;
    font-family: 'Pacifico', cursive;
    color: #D9D98F;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%,-10%);
}

#title > span{
    font-size: 3em;
    font-family: 'Black Han Sans', sans-serif;
    color: #8C8C5D;
    position: absolute;
    left: 50%;
    top: 14%;
    transform: translate(-50%,-14%);
    text-shadow: 1px 1px 1px #A6A6A6;
}

#content{
    width:100%;
    text-align:center;
    margin : 4% auto;
}

.list{
    width : 100px;
    margin: 20px 200px 0 0;
    display : inline-block;
    list-style : none;
    line-height : 40px;
    vertical-align: middle;
    text-align : center;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.movieImg{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin : 0 auto;
}

.list:hover, .list:focus, .list:active {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

#moiveModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
    
.conetentModal {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */                          
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
